html,
body {
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: $black;
}

.container {
  max-width: 1250px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  width: 140px;
  height: 140px;

  @include max-w($sm) {
    width: 110px;
    height: 110px;
  }

  @include max-h($sm) {
    width: 110px;
    height: 110px;
  }

  @include max-w($xs) {
    width: 85px;
    height: 85px;
  }

  &__img {
    object-fit: contain;
    object-position: center;
  }
}

.title {
  font-weight: 800;
  font-size: 36px;
  max-width: 785px;

  @include max-w($md) {
    font-size: 30px;
  }

  @include max-w($sm) {
    font-size: 22px;
  }

  @include max-w($xs) {
    font-size: 14px;
    max-width: 300px;
  }
}

.timer {
  width: 100%;
  padding-bottom: 90px;

  @include max-w($md) {
    padding-bottom: 40px;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__title {
    margin-bottom: 60px;

    @include max-w($xs) {
      margin-bottom: 25px;
    }
  }
}

.time-count {
  max-width: 510px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: ':';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    line-height: 1;
    font-size: 64px;

    @include max-w($xs) {
      font-size: 36px;
    }
  }

  &__val {
    width: 115px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #d5defe;
    position: relative;
    z-index: 5;

    @include max-w($xs) {
      width: 60px;
      height: 60px;
    }

    &:first-child {
      margin-right: 45px;

      @include max-w($xs) {
        margin-right: 25px;
      }
    }

    &:last-child {
      margin-left: 45px;

      @include max-w($xs) {
        margin-left: 25px;
      }
    }
  }

  &__val-num {
    font-size: 64px;
    font-weight: 800;
    line-height: 1;

    @include max-w($xs) {
      font-size: 36px;
    }
  }
}

.scheme {
  background-color: #f3f5f9;
  width: 100%;
  padding: 90px 0;

  @include max-w($md) {
    padding: 40px 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__title {
    margin-bottom: 80px;

    @include max-w($md) {
      margin-bottom: 60px;
    }

    @include max-w($sm) {
      margin-bottom: 40px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include max-w($sm) {
      flex-direction: column;
    }
  }

  &__item {
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;

    @include max-w($sm) {
      flex-direction: row;
      width: 100%;
      align-items: flex-start;
      justify-content: space-between;
    }

    &::before {
      content: '';
      position: absolute;
      width: 25px;
      height: 135px;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url(../images/decor/result.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: -1;

      @include max-w($sm) {
        background-image: url(../images/decor/result-rotate.png);
        width: 130px;
        height: 25px;
        top: 0;
        left: 45%;
      }

      @include max-w($xs) {
        width: 100px;
        height: 18px;
        left: 46%;
        top: 2px;
      }
    }

    &:last-child {
      .scheme__days {

        @include max-w($sm) {
          margin-bottom: 0;
        }

        &::before {
          display: none;
        }
      }
    }

    &--change {
      &::before {
        opacity: 0.2;
      }
    }

    &--relax {
      &::before {
        opacity: 0.5;
      }
    }

    &--energy {
      &::before {
        opacity: 0.8;
      }
    }
  }

  &__days {
    display: block;
    margin-bottom: 150px;
    font-weight: 800;
    font-size: 18px;
    color: #4049f8;
    position: relative;
    padding: 0 12px;
    background-color: #f3f5f9;
    z-index: 5;

    @include max-w($sm) {
      padding: 0;
    }

    @include max-w($xs) {
      font-size: 14px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 250px;
      height: 3px;
      top: 12px;
      left: 100%;
      background-color: #4049f8;

      @include max-w($lg) {
        width: 200px;
      }

      @include max-w($md) {
        width: 165px;
      }

      @include max-w($sm) {
        height: 115px;
        width: 3px;
        left: 0;
        top: 40px;
        border-radius: 6px;
      }
    }

    &--change {
      opacity: 0.2;
    }

    &--relax {
      opacity: 0.5;
    }

    &--energy {
      opacity: 0.8;
    }
  }

  &__text {
    display: block;
    font-size: 14px;
    color: #5b5b5b;
    max-width: 170px;

    @include max-w($sm) {
      text-align: left;
    }

    @include max-w($xs) {
      font-size: 10px;
      max-width: 80px;
    }
  }
}

.clients {
  width: 100%;
  padding: 90px 0;
  overflow-x: hidden;

  @include max-w($md) {
    padding: 40px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__title {
    margin-bottom: 70px;
    max-width: 835px;

    @include max-w($md) {
      margin-bottom: 60px;
    }

    @include max-w($xs) {
      max-width: 250px;
      margin-bottom: 30px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include max-w($md) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include max-w($sm) {
      display: none;
    }
  }

  &__item {
    text-align: left;

    @include max-w($md) {
      margin: 20px 50px;
    }
  }

  &__item-title {
    font-weight: 800;
    margin-bottom: 20px;
  }

  &__item-images {
    display: flex;

    @include max-w($sm) {
      justify-content: center;
    }
  }

  &__img-wrap {
    display: block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__text {
    font-size: 14px;
    max-width: 140px;
    width: 100%;
    text-align: left;

    @include max-w($xs) {
      font-size: 12px;
    }
  }

  &__img {
    width: 150px;
    height: 155px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
    margin-bottom: 8px;

    @include max-w($lg) {
      width: 130px;
      height: 135px;
    }

    @include max-w($sm) {
      width: 120px;
      height: 125px;
    }
  }

  &__swiper {
    padding-bottom: 50px;
    width: 100%;
    display: none;

    @include max-w($sm) {
      display: block;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
  }

  &__arrow {
    width: 45px;
    height: 45px;
    opacity: 0.3;
    top: 30%;
    z-index: 100;

    &::after {
      font-size: 16px;
    }

    &--prev {
      left: -17px;
    }

    &--next {
      right: -17px;
    }
  }

  .swiper-button-disabled {
    opacity: 0.3;
  }

  &__slide-content {
    max-width: 310px;
    width: 100%;
  }
}

.algorithm {
  width: 100%;
  padding: 90px 0;
  background-color: #f3f5f9;

  @include max-w($md) {
    padding: 40px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__title {
    margin-bottom: 70px;
    max-width: 500px;

    @include max-w($md) {
      margin-bottom: 60px;
    }

    @include max-w($xs) {
      max-width: 250px;
      margin-bottom: 30px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include max-w($md) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__item {
    max-width: 230px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include max-w($md) {
      margin-bottom: 130px;

      &:first-child {
        .algorithm__num {
          &::before {
            display: none;
          }
        }
      }
    }

    @include max-w($xs) {
      margin-bottom: 100px;
    }

    &:last-child {
      margin-bottom: 0;

      .algorithm__num {
        &::before {
          display: none;

          @include max-w($md) {
            display: block;
          }
        }
      }
    }
  }

  &__num {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 1;
    font-weight: 800;
    background-color: $purple;
    border-radius: 100%;
    width: 52px;
    height: 52px;
    position: relative;
    z-index: 5;

    @include max-w($md) {
      width: 40px;
      height: 40px;
      font-size: 24px;
      margin-bottom: 10px;
    }

    @include max-w($xs) {
      width: 30px;
      height: 30px;
      font-size: 16px;
      margin-bottom: 5px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 200px;
      height: 4px;
      left: 105%;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../images/decor/line.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: -1;

      @include max-w($lg) {
        width: 180px;
        left: 100%;
      }

      @include max-w($md) {
        background-image: url(../images/decor/line-rotate.png);
        width: 4px;
        height: 150px;
        top: -124px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      @include max-w($xs) {
        height: 110px;
        top: -98px;
      }
    }
  }

  &__text {
    font-size: 18px;

    @include max-w($lg) {
      font-size: 16px;
    }

    @include max-w($xs) {
      font-size: 12px;
      max-width: 200px;
    }
  }
}

.reviews {
  padding: 90px 0;
  width: 100%;

  @include max-w($md) {
    padding: 40px 0;
  }

  &__inner {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 80px;

    @include max-w($md) {
      margin-bottom: 60px;
    }

    @include max-w($xs) {
      max-width: 250px;
      margin-bottom: 30px;
    }
  }

  &__swiper {
    border-bottom: 2px solid #858eab;
    border-radius: 2px;
    padding-bottom: 80px;
    padding-top: 45px;
  }

  .swiper-pagination {
    display: none;

    @include max-w($sm) {
      display: block;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;

    @include max-w($md) {
      width: auto;
    }
  }

  &__arrow {
    opacity: 0.5;

    &::after {
      @include max-w($xs) {
        font-size: 16px;
      }
    }

    &--prev {
      left: 0;

      @include max-w($xs) {
        left: -7px;
      }
    }

    &--next {
      right: 0;

      @include max-w($xs) {
        right: -7px;
      }
    }
  }

  &__slide-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f3f5f9;
    min-height: 250px;
    max-width: 230px;
    width: 100%;
    border-radius: 10px;
    padding: 60px 20px 20px;
    position: relative;

    @include max-w($xs) {
      max-width: 200px;
      min-height: 220px;
    }
  }

  &__avatar {
    width: 86px;
    height: 86px;
    object-fit: cover;
    border-radius: 100%;
    object-position: center;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);

    @include max-w($xs) {
      width: 75px;
      height: 75px;
    }
  }

  &__text {
    font-size: 14px;
    text-align: left;

    @include max-w($xs) {
      font-size: 12px;
    }
  }

  &__name {
    font-weight: 800;
    margin-top: auto;
    font-size: 14px;

    @include max-w($xs) {
      font-size: 12px;
    }
  }
}

.purchase {
  padding: 90px 0;

  @include max-w($md) {
    padding: 40px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__title {
    margin-bottom: 30px;

    @include max-w($sm) {
      font-size: 32px;
    }

    @include max-w($xs) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  &__text {
    max-width: 660px;
    font-size: 18px;
    display: block;
    margin-bottom: 80px;

    @include max-w($xs) {
      font-size: 12px;
      max-width: 270px;
      margin-bottom: 40px;
    }
  }

  &__price {
    max-width: 500px;
    width: 100%;
    height: 76px;
    padding: 10px 15px;
    border: 3px solid $purple;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 22px;

    @include max-w($xs) {
      height: 40px;
      font-size: 12px;
    }

    span {
      font-weight: 800;
      display: inline-block;
      margin-left: 6px;
    }
  }

  &__price-info {
    font-size: 14px;
    max-width: 440px;
    margin-bottom: 60px;

    @include max-w($xs) {
      font-size: 12px;
      margin-bottom: 35px;
    }
  }

  &__link {
    height: 66px;
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $purple;
    color: #fff;
    padding: 10px 30px;
    border-radius: 200px;
    font-weight: 800;
    transition: background-color 0.3s ease;

    @include max-w($xs) {
      height: 40px;
      width: 235px;
      font-size: 12px;
    }

    &:hover {
      background-color: #2030a0;
    }
  }
}

#ten-countdown {
  width: 510px;
  font-size: 64px;
  font-weight: 800;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #d5defe;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #4049f8;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;

  &__icon {
    margin-bottom: 30px;

    @include max-w($xs) {
      width: 180px !important;
      height: 180px !important;
    }
  }

  &__title {
    max-width: 545px;
    cursor: default;

    @include max-w($xs) {
      font-size: 14px;
    }

    span {
      display: block;
    }
  }
}